.navBar {
    position: relative;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
    padding-bottom: 230px;
}
.header {
    padding: 1% 4%;
    /* display: flex; */
    justify-content: space-between;
}

.headerText {
    font-size: 12px;
}

.navBarIconsContainer i:not(:last-child) {
    margin-right: 20px;
}


a{
    text-decoration: none;
    color: #fff !important;

}

ul {
    font-weight: 600;
    padding: 0px;
    list-style-type: none;
    width: 100vw;
    /* display: flex; */
    /* align-items: center; */
    justify-content: space-between;
}

ul li:not(:first-child){
    flex: 1;
    /* border-left: none; */
}


.green a {
    color: #28df99 !important;
}
ul li:first-child{
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    /* flex: 1; */
    /* border-left: none; */
}
.logoTitle {
    flex: 6;
    /* font-weight: 600; */
    /* text-align: left; */
    font-size: 24px;
}

.nav-ul > li > a:hover{
    color: #28df99 !important;
}

nav {
    margin: 0px;
    padding: 0px;
}

li {
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    /* padding: 10px 0; */
    /* align-items: center; */
    /* align-items: center; */
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin: 0px;
    height: 80px;
}

main.main {
    color: rgba(255, 255, 255, 0.8);
    margin: 100px 100px;
    /* justify-content: space-between; */
}

main.main i {
    color: #4986fc !important;
    font-size: 80px;
    border-radius: 100%;
    overflow: none;
    background-color: #fff;
}
.mainLeft {
    flex: 1;
    justify-content: center;
}

.mainRight {
    flex: 1;
}

.mainRightTitle {
    text-transform:uppercase;
    word-spacing: 2px;
    letter-spacing: 4px;
    font-weight: 600;
    font-size: 14px;
}

.mainRightDo {
    font-weight: 700;
    margin-top: 10px;
    font-size: 40px;
    letter-spacing: 0px;
}

.mainRightDetail {
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.5rem;
    color: #fff;
}

button {
    border: none;
}
.learnMoreBtn {
    /* width: 72px; */
    margin-right: 20px;
    background-color: #4986fc;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 8px;
    font-size: 14px;
}

.viewBtn {
    text-transform: uppercase;
    border-radius: 5px;
    padding: 8px;
    font-size: 14px;

}

.cards-container {
    background-color: #eaeefb;
    padding-bottom: 100px !important;
    position: relative;
}

.row {
    padding-top: 50px;
    /* display: flex;
    justify-content: space-between;
    flex-wrap: wrap; */
}

@media only screen and (max-width:989px) {

    nav {
        background-color: black !important;
    }

    nav {
        display: flex;
        align-items: center;
        /* justify-content: space-around; */
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    /* .nav-ul {
        flex-direction: column;
        display: none;
    } */
    /* .nav-ul > li:not(:first-child) { */
        /* border: none; */
        /* margin-top: 10px; */
    /* } */
    /* .nav-ul > li {
        border: none;
        margin-top: 10px;
    } */

    /* .header {
        text-align: center;
        flex-direction: column;
        align-items: center;
    } */
    main.main i {
        font-size: 50px;
    }
    main.main {
        flex-direction: column;
        text-align: center;
        /* align-items: center; */
    }
    .mainLeft {
        width: 90vw;
        margin-bottom: 50px;
    }
    .mainRight {
        width: 90vw;
        margin-left: 5%;
        margin-right: 5%;
    }

    .navBar {
        padding-bottom: 10px;
    }
    .cards-container {
        padding-bottom: 0px !important;
    }

}

.hamburger-menu > span {
    display: block;
    width: 30px;
    background-color: #fff !important;
    height: 2px;
    transform-origin: 10px 2px;
    transition: all 300ms ease-in-out;
}

.hamburger-menu > span:not(:last-child){
    margin-bottom: 5px;
}

.hamburger-menu.open > span:first-child{
    transform: rotate(45deg);
}

.hamburger-menu.open >span:nth-child(2){
    /* opacity: 0; */
    display: none;
}

.hamburger-menu.open > span:last-child{
    transform: rotate(-45deg);
}

/* .mobile-menu { */
    /* position: absolute;
    top: 50px; */
    /* text-decoration: none; */
    /* font-style: none; */
    /* border: none; */
/* } */

@keyframes slowShow {
    from {
        opacity:0;
        width: 0%;
        height: 0%;
    }
    to {
        opacity: 1;
        width: 50%;
        height: 214px;
    }

    /* from {background-color: red;}
    to {background-color: blue;} */
  }

.mobile-menu {
    z-index: 2 !important;
    font-weight: bold;
    animation-name: slowShow;
    animation-duration: 600ms;
    position: fixed;
    width: 50%;
    /* top: 60px; */
    top: 100px;
    right: 50%;
    transform: translateX(50%);
    background-color: rgba(0, 0, 0, .89);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
}

.mobile-menu a:not(:last-child) {
    margin-bottom: 10px;
}

.mobile-menu a:first-child{
    color: #28df99 !important;
}

.mobile-menu > a:hover {
    color: #28df99 !important;
}



/* .mobile-menu ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    border: none;
    margin: 0px !important;
    padding: 0px !important;
}

.mobile-menu ul li {
    border: none;
    margin: 0 !important;
    padding: 0 !important;
} */